*{
    box-sizing:border-box;
}

body{
    display:absolute;
    margin:0;
    padding:0;
    /* height:100%; */
    background-color: #eff3f7;
}
.containor{
    display:flex;
    justify-content: center;
    padding:50px;

}

.movies a{
    color:inherit;
    text-decoration: none;
    cursor:auto;
}

.containor{
    flex-direction: row;
}
.containor .loader{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.loader_text{
    font-size:2rem;
}

.movies{
    width:70%;
    padding:40px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}